// Edit background-colors here
$blue: rgba(124, 175, 194, 0.8)
$yellow: rgba(247, 202, 136, 0.8)
$cyan: rgba(134, 193, 185, 0.8) 
$orange: rgba(220, 150, 86, 0.8)
$green: rgba(161, 180, 92, 0.8)
$purple: rgba(186, 139, 175, 0.8)

.blue:hover
  background-color: $blue
  transition: background-color 0.15s ease-out;

.yellow:hover
  background-color: $yellow
  transition: background-color 0.15s ease-out;

.cyan:hover
  background-color: $cyan
  transition: background-color 0.15s ease-out;

.orange:hover
  background-color: $orange
  transition: background-color 0.15s ease-out;

.green:hover
  background-color: $green
  transition: background-color 0.15s ease-out;

.purple:hover
  background-color: $purple
  transition: background-color 0.15s ease-out;

// Equation formatting
.equation
  // removes space betwen <li> tags
  font-size: 0

  li
    display: inline-block
    font-size: 1.5rem
