.blue:hover {
  background-color: rgba(124, 175, 194, 0.8);
  transition: background-color 0.15s ease-out; }

.yellow:hover {
  background-color: rgba(247, 202, 136, 0.8);
  transition: background-color 0.15s ease-out; }

.cyan:hover {
  background-color: rgba(134, 193, 185, 0.8);
  transition: background-color 0.15s ease-out; }

.orange:hover {
  background-color: rgba(220, 150, 86, 0.8);
  transition: background-color 0.15s ease-out; }

.green:hover {
  background-color: rgba(161, 180, 92, 0.8);
  transition: background-color 0.15s ease-out; }

.purple:hover {
  background-color: rgba(186, 139, 175, 0.8);
  transition: background-color 0.15s ease-out; }

.equation {
  font-size: 0; }
  .equation li {
    display: inline-block;
    font-size: 1.5rem; }
